{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}

<div class=" text-center">
    <h1 class="display-4">Welcome to RogueLike</h1>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fermentum aliquet suscipit. Aenean sit amet hendrerit est. Vivamus non blandit mauris.</p>
  </div> 

{% endblock %}