<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        
        {# Bootstrap stylesheet #}
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">

        {# Personal stylesheet #}
        <link href="{{ asset('build/stylesheet/app.css') }}" rel="stylesheet">

        {% endblock %}
    </head>
    <body class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}
        
        <script src="{{ asset('build/js/app.js') }}"></script>
        
        {% endblock %}
    </body>
</html>
