/* Color theme */
$dark-blue: hsl(200,86%,11%);
$pale-green: hsl(139, 18%, 40%);
$blood-red: hsl(1, 72%,64%);
$pale-beige: hsl(37, 41%, 79%);
$pale-blue: hsl(180, 40%, 39%); 

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Jura:400,600|Yrsa:400,700');

$font-serif: 'Yrsa', serif;
$font-sans: 'Jura', sans-serif;
