/* Color theme */
$mint-green: hsla(156, 95%, 59%, 1);
$deep-blue: hsla(215, 27%, 19%, 1);
$anthracite: hsla(220, 5%, 14%, 1);
$anthracite-translucent: hsla(220, 5%, 14%, .5);
$light: hsla(220, 0%, 69%, 1);
$dark: hsla(0, 0%, 0%, .8);

@import url('https://fonts.googleapis.com/css?family=Istok+Web|PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,700');

$main-font: 'Istok Web', sans-serif;
$second-font: 'PT Sans', sans-serif;

@mixin raleway($weight, $size) {
  font: {
    family: 'Raleway';
    weight: $weight;
    size: $size;
  }
}